@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.md.svelte-8tpqd2{
    display: none;
}

/* .block.svelte-12cmxck {
    display: ;
} */

.gradio-container {
    border: 0 !important;
}

.main.svelte-182fdeq {
    padding: 0 !important;
}

.main .svelte-1b6s6s {
    /* position: none !important; */
    display: none;
}

.main .svelte-1viwdyg {
    display: none;
}

.main .label {
    display: none;
}

.block.svelte-12cmxck{
    box-shadow: none !important;
}

.form.svelte-sfqy0y {
    box-shadow: none !important;
    border: none;
}

#component-1 {
    display: none;
}

#component-3 {
    margin-top: 6px;
}

#component-29 {
    display: none !important;
}
#component-31 {
    display: none;
}